nodered/flows.json
[
    {
        "id": "cefe46de0f9e8bf2",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "43920f70bb67f7a3",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a07a3a816eaec58c",
        "type": "subflow",
        "name": "LA66 Send Uplink",
        "info": "",
        "category": "LA66",
        "in": [
            {
                "x": 380,
                "y": 420,
                "wires": [
                    {
                        "id": "8fb6b348aa5150d7"
                    },
                    {
                        "id": "becea286b80c26c7"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 780,
                "y": 80,
                "wires": [
                    {
                        "id": "1ed3456d086a37d7",
                        "port": 0
                    },
                    {
                        "id": "1ed3456d086a37d7",
                        "port": 1
                    }
                ]
            }
        ],
        "env": [],
        "meta": {
            "module": "LA66"
        },
        "color": "#D7D7A0",
        "icon": "font-awesome/fa-cloud-upload"
    },
    {
        "id": "6b3093f604f98391",
        "type": "subflow",
        "name": "LA66 Receive Downlink",
        "info": "",
        "category": "LA66",
        "in": [],
        "out": [
            {
                "x": 1160,
                "y": 100,
                "wires": [
                    {
                        "id": "fb2d7f6a31fbd516",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#D7D7A0",
        "icon": "font-awesome/fa-cloud-download"
    },
    {
        "id": "a5abbb3a16eadc3a",
        "type": "subflow",
        "name": "Hash DevEui",
        "info": "",
        "category": "DevEui Hash",
        "in": [
            {
                "x": 140,
                "y": 260,
                "wires": [
                    {
                        "id": "937df319ac6aca3a"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 420,
                "y": 260,
                "wires": [
                    {
                        "id": "937df319ac6aca3a",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#3FADB5",
        "icon": "node-red/hash.svg"
    },
    {
        "id": "582ff7246177f8ba",
        "type": "subflow",
        "name": "Pack Payload",
        "info": "",
        "category": "DevEui Hash",
        "in": [
            {
                "x": 60,
                "y": 100,
                "wires": [
                    {
                        "id": "71c696223a53be8b"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 580,
                "y": 100,
                "wires": [
                    {
                        "id": "b54225f956107e04",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#3FADB5",
        "icon": "font-awesome/fa-compress"
    },
    {
        "id": "f76fbcb904e1309a",
        "type": "subflow",
        "name": "Save Hash and Get Eui",
        "info": "",
        "category": "DevEui Hash",
        "in": [
            {
                "x": 340,
                "y": 240,
                "wires": [
                    {
                        "id": "7ff0c5aee3d88df5"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1060,
                "y": 200,
                "wires": [
                    {
                        "id": "7ff0c5aee3d88df5",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#3FADB5",
        "icon": "font-awesome/fa-cloud"
    },
    {
        "id": "fd94572cb0e8888e",
        "type": "subflow",
        "name": "Forward All LA66 Downlinks",
        "info": "",
        "category": "LA66",
        "in": [
            {
                "x": 60,
                "y": 200,
                "wires": [
                    {
                        "id": "cf7c41dee34022ad"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#D7D7A0",
        "icon": "font-awesome/fa-mail-forward"
    },
    {
        "id": "5d0bac2844046b31",
        "type": "subflow",
        "name": "Forward LA66 Downlink",
        "info": "",
        "category": "LA66",
        "in": [
            {
                "x": 60,
                "y": 180,
                "wires": [
                    {
                        "id": "5a19c3f98d422c9e"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#D7D7A0",
        "icon": "font-awesome/fa-mail-forward"
    },
    {
        "id": "89be9fec0ab36cdd",
        "type": "subflow",
        "name": "Read Serial LA66",
        "info": "",
        "category": "LA66",
        "in": [],
        "out": [
            {
                "x": 560,
                "y": 80,
                "wires": [
                    {
                        "id": "0a06d69bff2c0991",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#C0C0C0",
        "icon": "node-red/arrow-in.svg"
    },
    {
        "id": "f7c4ff8c9da31da4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "584f6caa86cf7a5f",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "Influx",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "rejectUnauthorized": false
    },
    {
        "id": "86c11333eddb56d2",
        "type": "serial-port",
        "name": "LoRa-USB",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\r\\n",
        "bin": "false",
        "out": "char",
        "addchar": "\\r\\n",
        "responsetimeout": "500"
    },
    {
        "id": "69ea3ec72677a2a7",
        "type": "function",
        "z": "a07a3a816eaec58c",
        "name": "SEND MSG",
        "func": "\n// https://developer.mozilla.org/en-US/docs/Glossary/Base64\nfunction base64ToBytes(base64) {\n    const binString = Buffer.from(base64, 'base64');\n    \n    return binString\n}\n\nfunction byteToString(byte){\n    return ('0' + (byte & 0xFF).toString(16)).slice(-2);\n}\n\n// https://stackoverflow.com/questions/34309988/byte-array-to-hex-string-conversion-in-javascript#34310051\nfunction toHexString(byteArray) {\n    return Array.from(byteArray, function (byte) {\n        return byteToString(byte);\n    }).join('')\n}\n\nconst data = msg.payload.msg\nconst bytes = base64ToBytes(data.rawData)\nlet sendString = \"AT+SENDB=\"\n\nsendString += (data.confirmed ? \"1\" : \"0\") + \",\"\nsendString += data.fPort + \",\"\nsendString += (bytes.length + 1) + \",\"\nsendString += byteToString(data.hash)\nsendString += toHexString(bytes)\n\nmsg.payload = sendString\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 440,
        "wires": [
            [
                "7c8386a2d17a03e2"
            ]
        ]
    },
    {
        "id": "b393b45e25327a33",
        "type": "serial out",
        "z": "a07a3a816eaec58c",
        "name": "Send Message",
        "serial": "86c11333eddb56d2",
        "x": 1500,
        "y": 420,
        "wires": []
    },
    {
        "id": "1ed3456d086a37d7",
        "type": "function",
        "z": "a07a3a816eaec58c",
        "name": "Is Send Ok",
        "func": "if(msg.payload && msg.payload.includes(\"txDone\")){\n    return [msg,null];\n} else if(msg.payload && msg.payload[1] === \"AT_BUSY_ERROR\"){\n    return [null, {resend: true}]\n}\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 80,
        "wires": [
            [],
            [
                "d8b4e708b9ed75bf"
            ]
        ]
    },
    {
        "id": "7c8386a2d17a03e2",
        "type": "delay",
        "z": "a07a3a816eaec58c",
        "name": "",
        "pauseType": "rate",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1260,
        "y": 440,
        "wires": [
            [
                "b393b45e25327a33"
            ]
        ]
    },
    {
        "id": "8e844b48ae104167",
        "type": "serial out",
        "z": "a07a3a816eaec58c",
        "name": "Send IsJoined",
        "serial": "86c11333eddb56d2",
        "x": 1120,
        "y": 520,
        "wires": []
    },
    {
        "id": "8fb6b348aa5150d7",
        "type": "change",
        "z": "a07a3a816eaec58c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "msg",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 380,
        "wires": [
            [
                "54b28727fd035b65"
            ]
        ]
    },
    {
        "id": "77f58cad241ab74c",
        "type": "function",
        "z": "a07a3a816eaec58c",
        "name": "Is Join Ok?",
        "func": "if(msg.payload[0] === \"1\" && msg.payload[2] === \"OK\"){\n    msg.complete = true;\n    return [msg, null];\n}\nif(msg.payload[0] === \"0\" && msg.payload[2] === \"OK\"){\n    msg.complete = true;\n    return [null, msg];\n}\n\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 260,
        "wires": [
            [
                "54b28727fd035b65"
            ],
            []
        ]
    },
    {
        "id": "54b28727fd035b65",
        "type": "join",
        "z": "a07a3a816eaec58c",
        "name": "Warte auf JoinOk",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 790,
        "y": 340,
        "wires": [
            [
                "69ea3ec72677a2a7"
            ]
        ]
    },
    {
        "id": "becea286b80c26c7",
        "type": "function",
        "z": "a07a3a816eaec58c",
        "name": "Is Joined? ",
        "func": "msg.payload = \"AT+NJS=?\"\nmsg.topic = \"Command\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 460,
        "wires": [
            [
                "54b28727fd035b65",
                "c621c96646b73326"
            ]
        ]
    },
    {
        "id": "c621c96646b73326",
        "type": "delay",
        "z": "a07a3a816eaec58c",
        "name": "",
        "pauseType": "rate",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 820,
        "y": 540,
        "wires": [
            [
                "8e844b48ae104167"
            ]
        ]
    },
    {
        "id": "2a65be0a6294cbec",
        "type": "subflow:89be9fec0ab36cdd",
        "z": "a07a3a816eaec58c",
        "name": "Read Serial LA66",
        "x": 200,
        "y": 160,
        "wires": [
            [
                "1ed3456d086a37d7",
                "77f58cad241ab74c"
            ]
        ]
    },
    {
        "id": "d8b4e708b9ed75bf",
        "type": "function",
        "z": "a07a3a816eaec58c",
        "name": "function 1",
        "func": "if(msg.payload.resend && msg.payload.resend === true){\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 180,
        "wires": [
            [
                "ed2487eb4fce85d2"
            ]
        ]
    },
    {
        "id": "ed2487eb4fce85d2",
        "type": "debug",
        "z": "a07a3a816eaec58c",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 180,
        "wires": []
    },
    {
        "id": "b40b6a3d0b65dc0b",
        "type": "serial in",
        "z": "6b3093f604f98391",
        "name": "LA66 Receive",
        "serial": "86c11333eddb56d2",
        "x": 210,
        "y": 100,
        "wires": [
            [
                "589c60b4bb41b418"
            ]
        ]
    },
    {
        "id": "589c60b4bb41b418",
        "type": "function",
        "z": "6b3093f604f98391",
        "name": "Downlink Received?",
        "func": "if(msg.payload.includes(\"AT+RECVB=?\")){\n    msg.payload = \"AT+RECVB=?\"\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 80,
        "wires": [
            [
                "82902624940235d7"
            ]
        ]
    },
    {
        "id": "82902624940235d7",
        "type": "serial request",
        "z": "6b3093f604f98391",
        "name": "Get Downlink Payload",
        "serial": "86c11333eddb56d2",
        "x": 700,
        "y": 100,
        "wires": [
            [
                "fb2d7f6a31fbd516"
            ]
        ]
    },
    {
        "id": "fb2d7f6a31fbd516",
        "type": "function",
        "z": "6b3093f604f98391",
        "name": "Extract Payload And Port",
        "func": "// Example Input Payload: \\n1:000000\n\nconst data = msg.payload.trim().split(\":\")\nmsg.payload = data[1]\nmsg.port = data[0]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 80,
        "wires": [
            [
                "c25ed181938df685"
            ]
        ]
    },
    {
        "id": "c25ed181938df685",
        "type": "mqtt out",
        "z": "6b3093f604f98391",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f7c4ff8c9da31da4",
        "x": 1170,
        "y": 280,
        "wires": []
    },
    {
        "id": "937df319ac6aca3a",
        "type": "function",
        "z": "a5abbb3a16eadc3a",
        "name": "Decoder",
        "func": "const devEui = msg.payload.devEui;\n\nif(devEui.length === 16){\n    const charArray = [...devEui];\n    let hash = 0; \n\n    charArray.forEach(function(element) {\n        hash = hash ^ element;\n    });\n\n    msg.payload = {\n        ...msg.payload,\n        hash: hash\n    }\n    return msg;\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "71c696223a53be8b",
        "type": "function",
        "z": "582ff7246177f8ba",
        "name": "Build Payload",
        "func": "const deviceInfo = msg.payload.deviceInfo;\nconst confirmed = msg.payload.confirmed\nconst rawData = msg.payload.data\nconst fPort = msg.payload.fPort\nconst devEui = deviceInfo.devEui\n\nlet data = {\n    confirmed: confirmed,\n    rawData: rawData,\n    fPort: fPort,\n    devEui: devEui,\n}\n\nmsg.payload = data;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 120,
        "wires": [
            [
                "b54225f956107e04"
            ]
        ]
    },
    {
        "id": "b54225f956107e04",
        "type": "subflow:a5abbb3a16eadc3a",
        "z": "582ff7246177f8ba",
        "name": "",
        "x": 420,
        "y": 80,
        "wires": [
            [
                "6a51014e2ac2fc3a"
            ]
        ]
    },
    {
        "id": "6a51014e2ac2fc3a",
        "type": "debug",
        "z": "582ff7246177f8ba",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 180,
        "wires": []
    },
    {
        "id": "58bfaad5a77534f5",
        "type": "mqtt in",
        "z": "f76fbcb904e1309a",
        "name": "",
        "topic": "application/+/device/+/event/up",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f7c4ff8c9da31da4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 100,
        "wires": [
            [
                "797dd7fe1efdf97c"
            ]
        ]
    },
    {
        "id": "7ff0c5aee3d88df5",
        "type": "function",
        "z": "f76fbcb904e1309a",
        "name": "Save Hash and Get Eui",
        "func": "const hash = msg.payload.hash ? \"0\" + msg.payload.hash.toString(16).slice(-2) : undefined;\nconst devEui = msg.payload.devEui;\n\nlet list = context.get(\"list\")||{};\n\n// Message Contains Hash and DevEui - Save\nif(hash && devEui){\n    if(!list[hash]){\n        list[hash] = devEui;\n        context.set(\"list\", list);\n    }\n}\n\n// Message Is A String - Return DevEui\nif((typeof msg.payload === 'string' || msg.payload instanceof String)){\n    const h = msg.payload.substring(0, 2)\n    msg[\"devEui\"] = list[h]\n    return msg;\n}\n\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "589e47081a75711f",
        "type": "subflow:a5abbb3a16eadc3a",
        "z": "f76fbcb904e1309a",
        "name": "",
        "x": 630,
        "y": 180,
        "wires": [
            [
                "7ff0c5aee3d88df5"
            ]
        ]
    },
    {
        "id": "797dd7fe1efdf97c",
        "type": "function",
        "z": "f76fbcb904e1309a",
        "name": "Get Dev Eui",
        "func": "const deviceInfo = msg.payload.deviceInfo;\nconst devEui = deviceInfo.devEui\nmsg.payload = {devEui: devEui};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 140,
        "wires": [
            [
                "589e47081a75711f"
            ]
        ]
    },
    {
        "id": "cf7c41dee34022ad",
        "type": "subflow:f76fbcb904e1309a",
        "z": "fd94572cb0e8888e",
        "name": "",
        "x": 240,
        "y": 220,
        "wires": [
            [
                "168dda8d71eab3f7"
            ]
        ]
    },
    {
        "id": "168dda8d71eab3f7",
        "type": "subflow:5d0bac2844046b31",
        "z": "fd94572cb0e8888e",
        "name": "",
        "x": 510,
        "y": 200,
        "wires": []
    },
    {
        "id": "dd519ebe2968db2d",
        "type": "debug",
        "z": "5d0bac2844046b31",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 80,
        "wires": []
    },
    {
        "id": "5a19c3f98d422c9e",
        "type": "function",
        "z": "5d0bac2844046b31",
        "name": "PayloadToBase64",
        "func": "let data = msg.payload\n\nif(data.length % 2 === 0 && data.length !== 0){\n    data = data.substr(2)\n    let hexArray = []\n    for(let i = 0; i < data.length; i = i + 2){\n        const hex = data.charAt(i) + data.charAt(i+1);\n        console.log(hex);\n        hexArray.push(parseInt(hex, 16))\n    }\n    const buff = Buffer.from(hexArray);\n    const base64String = buff.toString('base64');\n    \n    msg.payload = base64String;\n\n    return msg;\n\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 180,
        "wires": [
            [
                "9d25ad936db3a425"
            ]
        ]
    },
    {
        "id": "9d25ad936db3a425",
        "type": "function",
        "z": "5d0bac2844046b31",
        "name": "Build MQTT Downlink",
        "func": "msg.topic = \"application/93d7f4c6-6061-422b-88d6-0a25358528bd/device/\" + msg.devEui + \"/command/down\"\nmsg.payload = {\n    \"devEui\": msg.devEui,\n    \"fPort\": msg.port,\n    \"data\": msg.payload\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 120,
        "wires": [
            [
                "fef07e3102b16154"
            ]
        ]
    },
    {
        "id": "fef07e3102b16154",
        "type": "change",
        "z": "5d0bac2844046b31",
        "name": "Set confirmed",
        "rules": [
            {
                "t": "set",
                "p": "payload.confirmed",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 180,
        "wires": [
            [
                "dd519ebe2968db2d",
                "52a601ee3b19fc6a"
            ]
        ]
    },
    {
        "id": "52a601ee3b19fc6a",
        "type": "mqtt out",
        "z": "5d0bac2844046b31",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f7c4ff8c9da31da4",
        "x": 850,
        "y": 240,
        "wires": []
    },
    {
        "id": "766c807c86703995",
        "type": "debug",
        "z": "89be9fec0ab36cdd",
        "name": "ReadSerialLa66",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 180,
        "wires": []
    },
    {
        "id": "0a06d69bff2c0991",
        "type": "function",
        "z": "89be9fec0ab36cdd",
        "name": "Combine Messages",
        "func": "let buildMsg = context.get(\"msg\")||[];\nconst isNewMsg = buildMsg.length === 0;\nconst END_MESSAGES = [\"OK\", \"AT_ERROR\", \"AT_PARAM_ERROR\", \"AT_BUSY_ERROR\", \"AT_TEST_PARAM_OVERFLOW\", \"AT_NO_NETWORK_JOINED\", \"AT_RX_ERROR\"];\n\nconst payload = msg.payload.trim()||\"\"\n\nfunction checkFinish(message){\n    if (END_MESSAGES.includes(payload) || payload === \"rxTimeout\" || payload === \"txDone\"  || payload === \"rxDone\") {\n        msg.payload = buildMsg;\n        return { payload: buildMsg };\n    } else {\n        context.set(\"msg\", buildMsg);\n        return null;\n    }\n}\n\n\nbuildMsg.push(payload)\nconst retVal = checkFinish(buildMsg)\nif(retVal !== null){\n    context.set(\"msg\", []);\n    return retVal;\n}\n\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 80,
        "wires": [
            [
                "766c807c86703995"
            ]
        ]
    },
    {
        "id": "3bf34f308eab24a3",
        "type": "serial in",
        "z": "89be9fec0ab36cdd",
        "name": "Read",
        "serial": "86c11333eddb56d2",
        "x": 190,
        "y": 80,
        "wires": [
            [
                "0a06d69bff2c0991"
            ]
        ]
    },
    {
        "id": "4dc48e3252d6ba79",
        "type": "mqtt in",
        "z": "cefe46de0f9e8bf2",
        "name": "",
        "topic": "application/+/device/+/event/up",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f7c4ff8c9da31da4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 440,
        "wires": [
            [
                "f2075753f604a2eb",
                "da87459b8d7e4cf7"
            ]
        ]
    },
    {
        "id": "bdf194cf06eabce6",
        "type": "influxdb out",
        "z": "cefe46de0f9e8bf2",
        "influxdb": "584f6caa86cf7a5f",
        "name": "",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "lora",
        "bucket": "lora-test",
        "x": 1090,
        "y": 400,
        "wires": []
    },
    {
        "id": "f2075753f604a2eb",
        "type": "function",
        "z": "cefe46de0f9e8bf2",
        "name": "GetPayload",
        "func": "const deviceInfo = msg.payload.deviceInfo;\nconst payload = msg.payload.object;\nconst rxInfo = msg.payload.rxInfo[0];\nconst txInfo = msg.payload.txInfo.modulation.lora;\n\n\nlet data = {\n    ...(payload),\n\n    sf: txInfo.spreadingFactor,\n    bandwith: txInfo.bandwidth,\n    rssi: rxInfo.rssi,\n    snr: rxInfo.snr,\n    frameCounter: msg.payload.fCnt,\n    time: new Date(msg.payload.time).getTime(),\n}\n\nmsg.measurement = deviceInfo.deviceName;\nmsg.payload = data;\nmsg.time = new Date(msg.payload.time).getTime()\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 500,
        "wires": [
            [
                "fb717e7e015fb5d5",
                "555de3073f826b9e"
            ]
        ]
    },
    {
        "id": "fb717e7e015fb5d5",
        "type": "debug",
        "z": "cefe46de0f9e8bf2",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 400,
        "wires": []
    },
    {
        "id": "555de3073f826b9e",
        "type": "delay",
        "z": "cefe46de0f9e8bf2",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 860,
        "y": 400,
        "wires": [
            [
                "bdf194cf06eabce6"
            ]
        ]
    },
    {
        "id": "da87459b8d7e4cf7",
        "type": "function",
        "z": "cefe46de0f9e8bf2",
        "name": "Get TimeDiff in Millis",
        "func": "const deviceName = msg.payload.deviceInfo.deviceName;\nconst temperature = msg.payload.object.TEMP;\nconst timestamp = new Date(msg.payload.time).getTime()\n\nconst lastMCS = context.get(\"lastMCS\")||null;\nconst lastUSB = timestamp;\n\nif(temperature){\n    if(deviceName === \"LoRa-MCS\"){\n        context.set(\"lastMCS\", timestamp);\n        return;\n    }\n\n    if(deviceName === \"LoRa-USB\" && lastMCS != null){\n        msg.payload = {diffInMillis: lastUSB - lastMCS, time: timestamp};\n        msg.time = timestamp;\n        msg.measurement = \"Diff\"\n        context.set(\"lastMCS\", null);\n        return msg;\n    }\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 320,
        "wires": [
            [
                "fb717e7e015fb5d5",
                "555de3073f826b9e"
            ]
        ]
    },
    {
        "id": "ac1c0dabc09faf82",
        "type": "subflow:a07a3a816eaec58c",
        "z": "43920f70bb67f7a3",
        "name": "",
        "x": 990,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "95c7f105e2620929",
        "type": "mqtt in",
        "z": "43920f70bb67f7a3",
        "name": "",
        "topic": "application/+/device/70b3d5581000003d/event/up",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f7c4ff8c9da31da4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 620,
        "wires": [
            [
                "c04ec8f78740a975"
            ]
        ]
    },
    {
        "id": "8e8527c443702c53",
        "type": "subflow:6b3093f604f98391",
        "z": "43920f70bb67f7a3",
        "name": "",
        "x": 160,
        "y": 780,
        "wires": [
            [
                "9a2cba20cc9d5d7e"
            ]
        ]
    },
    {
        "id": "cc7f5ec4fd4d3175",
        "type": "mqtt in",
        "z": "43920f70bb67f7a3",
        "name": "",
        "topic": "application/+/device/relay/up",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f7c4ff8c9da31da4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 360,
        "y": 480,
        "wires": [
            [
                "f273a55573f1cecc"
            ]
        ]
    },
    {
        "id": "c04ec8f78740a975",
        "type": "subflow:582ff7246177f8ba",
        "z": "43920f70bb67f7a3",
        "name": "",
        "x": 620,
        "y": 600,
        "wires": [
            [
                "ac1c0dabc09faf82"
            ]
        ]
    },
    {
        "id": "f273a55573f1cecc",
        "type": "subflow:a5abbb3a16eadc3a",
        "z": "43920f70bb67f7a3",
        "name": "",
        "x": 600,
        "y": 500,
        "wires": [
            [
                "ac1c0dabc09faf82"
            ]
        ]
    },
    {
        "id": "9a2cba20cc9d5d7e",
        "type": "subflow:fd94572cb0e8888e",
        "z": "43920f70bb67f7a3",
        "name": "",
        "x": 460,
        "y": 780,
        "wires": []
    },
    {
        "id": "fed5352bc240e99a",
        "type": "mqtt in",
        "z": "43920f70bb67f7a3",
        "name": "",
        "topic": "application/+/device/0700b30d507e0d00/event/up",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f7c4ff8c9da31da4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 700,
        "wires": [
            []
        ]
    }
]